* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#question {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background: #e7e7e7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #d5d5d5;
}

.correct {
    background: #9aeabc;
}

.wrong {
    background: #ff9393;
}

#next-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 8px;
    display: none;
    cursor: pointer;
}
